

body{
    background-color: #ffcc00;
    padding: 20px 0 0;
    font-family: 'Roboto', sans-serif;
    
}
.logo{
    display: flex;
}
.social-top-container{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}
.social-top-icons{
    width: 100%;
    text-align: right;
}
.social-top-icons a{
    margin: 0 5px 5px 0;
    list-style: none;
    text-decoration: none;
}
.social-top-icons i{
    white-space: nowrap;
    width: 30px;
    height: 30px;
    font-size: 17px;
    background-color: #353535;
    border-radius: 50px;
    line-height: 30px;
    color: #ffcc00;
    text-align: center;
}
.social-top-icons i:hover{
    background-color: #161616;
    /* display: block; */
}

.navigation{
    margin-top: 30px;
    width: 100%;
}

#navigation{
    display: flex;
    padding: 0;
    margin: 0;
    background: #fff;
    width: 100%;
    box-shadow: 0 0 7px rgb(0 0 0 / 10%);
}
#navigation *{
    padding: 0;
    margin: 0;  
}
#navigation li{
    display: flex;
}
#navigation a{
    background-color: #fff;
    color: #000;
    white-space: nowrap;
    padding: 25px;
    font-size: 12px;
    user-select: none;
}
#navigation a:hover{
    background-color: #353535;
    color: #fff;
    box-shadow: inset 0 0 15px #000;
    transition: all;
    transition-duration: 1s;
}
#navigation .current a{
    background-color: #353535;
    color: #fff;
    box-shadow: inset 0 0 15px #000;
}

#navigation .current:hover .submenu{
    height: 100%;
    display: block;
    position:absolute;
    padding-top: 65px;
    background-color: transparent;
    transition-duration: 1s;
    z-index: 1;
}
#navigation .current .submenu{
    display: none;
    height: 0%;
    background-color: transparent;
}
#navigation .current .submenu a{
    text-decoration: none;
    width: 100%;
    background-color: #fff;
    color: #000;
    box-shadow: none;
    transition-duration: 1s;
}
#navigation .current .submenu a:hover{
    background-color: #353535;
    color: #fff;
    box-shadow: inset 0 0 15px #000;

}
@media (max-width: 1000px) {
    #navigation{
        display: none;
    }
    .logo{
        display: flex;
        flex-direction: column;
        align-content: center;
    }
    .social-top-container{
        margin-top: 30px;
        width: 100%;
    }
    .social-top-icons{
        text-align: center;
    }
}


.slideshow *{
    margin: 0;
    padding: 0;
    list-style: none;
}
.slideshow img{
    width: 100%;
}
.slideshow li{
    display: none;
}
.slideshow .slide{
    display: none;
    opacity: 0%;
    transition-duration: 2s;
      transition: none;
}
.slideshow .active{
    display: flex;
    opacity: 100%;
    transition-duration: 2s;
      transition: 2s linear all;
}

.slide-buttons{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
.slide-buttons a{
    background-color: #fff;
    list-style: none;
    border-radius: 50px;
    padding: 6px;
    margin: 5px;
    box-shadow: inset 0 0 2px #000;
}
.slide-buttons .active{
    background-color: #363636;
}


.latest-media-content{
    display:flex;
}

.block{
    background:#ffffff;
    box-shadow: 0 0 7px rgb(0 0 0 / 10%);
    padding:10px;
    box-sizing: border-box;
    margin:5px;
}