body {
    background-color: black;
    height: 100vh;
}
.title{
    display: flex;
    color: azure;
    font-size:50px ;
    font-family: 'Press Start 2P';
    font-size: 30px;
    background-image: -webkit-linear-gradient(bottom, rgb(99, 97, 240), #71a0be, rgba(45, 44, 48, 0.137)); 
}

.titleposition{
    display: flex;
    align-items: center;
    justify-content: center;
}

.titlerow{
    height:15%;
    margin: 20px;
    display: flex;
    justify-content: center;
}

.screensize{
    height: 85%;
}

.stringsize{
    font-size:30px ;
    display: flex;
    /* flex-direction: column; */
    justify-content:space-around;
    align-items: center;
    
    
}
.right{
    /* align-self : flex-start; */
    color: white;
    font-size: 60px;
    border-top:white;
    

    
}
.left{
    /* align-self: flex-end; */
    color: coral;
    font-size: 30px;
    border:white;
    border-width:thick;
}

.detail{
    height :100%;
    width: 100%;
    font-size:30px ;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;

}
.box{
    margin:5px;
    width:200px;
    height:200px;
    background-color: red;
}

.mycontainer{
    height:100%;

}

.image-size{
    width:100%
}

.myButton{
    font-size: 24px;

}
.list{
    color: beige;
    font-size: 20px;
}
@media(max-width:1000px){

   
    .title{
        display: flex;
        color: azure;
        font-size:50px ;
        font-family: 'Press Start 2P';
        font-size: 20px;
        background-image: -webkit-linear-gradient(bottom, rgb(99, 97, 240), #71a0be, rgba(45, 44, 48, 0.137)); 
    }
    
    .titleposition{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .titlerow{
        height:15%;
        margin: 20px;
        display: flex;
        justify-content: center;
    }
    
    .screensize{
        height: 85%;
    }
    
    .stringsize{
        font-size:30px ;
        display: flex;
        /* flex-direction: column; */
        justify-content:space-around;
        align-items: center;
        
        
    }
    .right{
        /* align-self : flex-start; */
        color: white;
        font-size: 60px;
        border-top:white;
        
    
        
    }
    .left{
        /* align-self: flex-end; */
        color: coral;
        font-size: 30px;
        border:white;
        border-width:thick;
    }
    
    .detail{
        height :100%;
        width: 100%;
        font-size:30px ;
        display: flex;
        flex-direction: column;
        justify-content:space-around;
        align-items: center;
    
    }
    .box{
        margin:5px;
        width:200px;
        height:200px;
        background-color: red;
    }
    
    .mycontainer{
        height:100%;
    
    }
    
    .image-size{
        width:100%
    }
    
    .myButton{
        font-size: 24px;
    
    }
    .list{
        color: beige;
        font-size: 20px;

}